.modal-main {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(137, 141, 139, 0.7);
  position: absolute;
  z-index: 10;
}
.inner-modal-div {
  z-index: 12;
  min-height: 30vh;
  min-width: 38vw;
  background-color: rgba(252, 192, 152, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 15px black;
  font-size: 1.2rem;
  color: black;
  border-radius: 10px;
}
